#{extends 'main.html' /}

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        createAutocomplete($('#metricProduct_supplier_id'), "@{Contacts.search}", #{jsAction @Contacts.popover(':id') /}, "${messages.get('contact')}");
    });
</script>
#{/set}

#{form @save(), class:'form-horizontal'}
#{field property:'metricProduct.id', object:metricProduct}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'metricProduct'}</legend>

    #{textField property:'metricProduct.name', object:metricProduct /}

    #{editorTextArea property:'metricProduct.description', object:metricProduct /}

    %{
        if(metricProduct?.supplier?.id != null) {
            args = new java.util.HashMap<String, Object>();
            args.put('id', metricProduct.supplier.id);
            help = '<span class="label" rel="popover" title="' + messages.get('contact') + '" data-source="' + play.mvc.Router.reverse('Contacts.popover', args) + '">Info</span> ';
        } else {
            help = '<a href="' + play.mvc.Router.reverse('Contacts.modalForm') + '" modal="modal" target="metricProduct_supplier_id">' + messages.get('create', messages.get('contact')) + '</a>';
        }
    }%
    #{autocompleteTextField property:'metricProduct.supplier.id', object:metricProduct, label:metricProduct?.supplier?.label, help:help.raw() /}

    #{textField property:'metricProduct.orderNumber', object:metricProduct /}

    #{field property:'metricProduct.metric.id', object:metricProduct}
    <div class="control-group">
        <label class="control-label" for="${field.id}">&{field.name}</label>
        <div class="controls">
            #{select field.name, items:metrics, valueProperty:'id', labelProperty:'symbol', value:metricProduct?.metric?.id, id:field.id /}
        </div>
    </div>
    #{/field}

    #{textField property:'metricProduct.priceUnit', object:metricProduct /}

    #{moneyField property:'metricProduct.purchasePricePerMetric', object:metricProduct, currencyCode:defaultCurrency.getCurrencyCode() /}

    #{moneyField property:'metricProduct.retailPricePerMetric', object:metricProduct, currencyCode:defaultCurrency.getCurrencyCode() /}

    #{field property:'metricProduct.valueAddedTaxRate.id', object:metricProduct}
    <div class="control-group">
        <label class="control-label" for="${field.id}">&{field.name}</label>
        <div class="controls">
            #{select field.name, items:valueAddedTaxRates, valueProperty:'id', labelProperty:'description', value:metricProduct?.valueAddedTaxRate?.id, id:field.id /}
        </div>
    </div>
    #{/field}

    #{editorTextArea property:'metricProduct.comments', object:metricProduct /}

</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>
#{/form}