#{extends 'main.html' /}

#{form @save()}
    <fieldset>
        <legend>&{'metricProduct'}</legend>

        #{textField property:'metricProduct.name', object:metricProduct /}

        #{textArea property:'metricProduct.description', object:metricProduct /}

        #{field property:'metricProduct.metric.id', object:metricProduct}
        <div class="clearfix">
            <label for="${field.id}">&{field.name}</label>
            <div class="input">
                #{select field.name, items:metrics, valueProperty:'id', labelProperty:'symbol', value:metricProduct?.metric?.id, id:field.id /}
            </div>
        </div>
        #{/field}
    </fieldset>

    <div class="actions">
        <input type="submit" class="btn primary" value="&{'submit'}">
        <button type="reset" class="btn">&{'cancel'}</button>
    </div>

#{/form}