#{extends 'main.html' /}

#{form @save()}
#{field property:'metricProduct.id', object:metricProduct}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'metricProduct'}</legend>

    #{textField property:'metricProduct.name', object:metricProduct /}

    #{textArea property:'metricProduct.description', object:metricProduct /}

    #{field property:'metricProduct.metric.id', object:metricProduct}
    <div class="clearfix">
        <label for="${field.id}">&{field.name}</label>
        <div class="input">
            #{select field.name, items:metrics, valueProperty:'id', labelProperty:'symbol', value:metricProduct?.metric?.id, id:field.id /}
        </div>
    </div>
    #{/field}

    #{textField property:'metricProduct.price.rawAmount', object:metricProduct, label:defaultCurrency.getCurrencyCode() /}

    #{field property:'metricProduct.price.currencyCode', object:metricProduct}
    <input type="hidden" value="${defaultCurrency.getCurrencyCode()}" name="${field.name}"/>
    #{/field}
</fieldset>

<div class="actions">
    <input type="submit" class="btn primary" value="&{'submit'}">
    <button type="reset" class="btn">&{'cancel'}</button>
</div>
#{/form}