#{extends 'main.html' /}
#{set title:messages.get('metricProducts') /}

<ul class="breadcrumb">
  <li class="active">&{'products'} <span class="divider">/</span></li>
  <li class="active">&{'metricProducts'}</li>
</ul>

<h1>#{get 'title' /}</h1>

<div class="well">
    <a href="@{MetricProducts.form}" class="btn primary">&{'create', messages.get('metricProduct')}</a>
</div>

#{tableSearch /}
<table class="zebra-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'metricProduct', fieldName:'name' /}
            <th>&{'metricProduct.metric.id'}</th>
            <th>&{'metricProduct.pricePerMetric.rawValue'}</th>
            <th>&{'metricProduct.valueAddedTaxRate.id'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:metricProducts, as:'metricProduct'}
        <tr>
            <td>${metricProduct.name}</td>
            <td>${metricProduct.metric.name}</td>
            <td>${metricProduct.pricePerMetric.label}</td>
            <td>${metricProduct.valueAddedTaxRate}</td>
            <td>
                <a href="@{form(metricProduct.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}