#{extends 'main.html' /}
#{set title:messages.get('metricProducts') /}

<ul class="breadcrumb">
  <li class="active">&{'products'} <span class="divider">/</span></li>
  <li class="active">&{'metricProducts'}</li>
</ul>

#{addHeader 'metricProduct' /}

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'metricProduct', fieldName:'name' /}
            <th>&{'metricProduct.supplier.id'}</th>
            <th>&{'metricProduct.metric.id'}</th>
            <th>&{'metricProduct.retailPricePerMetric.rawValue'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:metricProducts, as:'metricProduct'}
        <tr>
            <td>${metricProduct.name}</td>
            <td><a href="@{Contacts.show(metricProduct.supplier.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(metricProduct.supplier.id)}">${metricProduct.supplier?.company}</a></td>
            <td>${metricProduct.metric.symbol}</td>
            <td>${metricProduct.retailPricePerMetric.label}</td>
            <td>
                <a href="@{form(metricProduct.id)}">&{'edit'}</a> |
                <a href="@{delete(metricProduct.id)}"
                   modal="modal">&{'delete'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}