#{extends 'main.html' /}
#{set title:messages.get('valueAddedTaxRates') /}

<ul class="breadcrumb">
  <li class="active">&{'administration'} <span class="divider">/</span></li>
  <li class="active">&{'valueAddedTaxRates'}</li>
</ul>

<h1>#{get 'title' /}</h1>

<div class="well">
    <a href="@{form}" class="btn btn-primary">&{'create', messages.get('valueAddedTaxRate')}</a>
</div>

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'valueAddedTaxRate', fieldName:'description' /}
            #{tableSorter objectName:'valueAddedTaxRate', fieldName:'rate' /}
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:valueAddedTaxRates, as:'valueAddedTaxRate'}
        <tr>
            <td>${valueAddedTaxRate.description}</td>
            <td>${valueAddedTaxRate}</td>
            <td>
                <a href="@{form(valueAddedTaxRate.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}