#{extends 'page.html' /}

<div class="container">
    <section id="content">
        <div id="login">
            #{form @authenticate()}

                #{if flash.error}
                <div class="alert-message error">
                    <p>
                        <strong>&{flash.error}</strong>
                    </p>
                </div>
                #{/if}
                #{if flash.success}
                <div class="alert-message success">
                    <p>
                        <strong>&{flash.success}</strong>
                    </p>
                </div>
                #{/if}

                <fieldset>
                    <legend>&{'secure.title'}</legend>


                    <div class="clearfix">
                        <label for="username">&{'secure.username'}</label>
                        <div class="input">
                            <input type="text" id="username" name="username" value="${flash.username}">
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="password">&{'secure.password'}</label>
                        <div class="input">
                            <input type="password" id="password" name="password" value="">
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="remember">&{'secure.remember'}</label>
                        <div class="input">
                            <ul class="inputs-list">
                                <li><input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /></li>
                            </ul>
                        </div>
                    </div>

                </fieldset>

                <div class="actions">
                    <input type="submit" class="btn primary" value="&{'secure.signin'}">
                    <button type="reset" class="btn">&{'cancel'}</button>
                </div>

            #{/form}
        </div>
    </section>
</div>