#{extends 'page.html' /}

<div class="container">
    <section id="content">
        <div id="login">
            #{form @authenticate(), class:'form-horizontal'}

                #{if flash.error}
                <div class="alert alert-error">
                    <strong>&{flash.error}</strong>
                </div>
                #{/if}
                #{if flash.success}
                <div class="alert alert-success">
                    <strong>&{flash.success}</strong>
                </div>
                #{/if}

                <fieldset>
                    <legend>&{'secure.title'}</legend>


                    <div class="control-group">
                        <label for="username">&{'secure.username'}</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" value="${flash.username}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="password">&{'secure.password'}</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" value="">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox" for="remember">&{'secure.remember'}
                                <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
                            </label>
                        </div>
                    </div>

                </fieldset>

                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="&{'secure.signin'}">
                    <button type="reset" class="btn">&{'cancel'}</button>
                </div>

            #{/form}
        </div>
    </section>
</div>