#{extends 'main.html' /}
#{set title:messages.get('additionalReportItem') /}

#{form @save()}

#{field property:'additionalReportItem.id', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'additionalReportItem.report.id', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'additionalReportItem'}</legend>

    #{textField property:'additionalReportItem.amount', object:additionalReportItem /}

    #{field property:'additionalReportItem.metric.id', object:additionalReportItem}
    <div class="clearfix">
        <label for="${field.id}">&{field.name}</label>
        <div class="input">
            #{select field.name, items:metrics, valueProperty:'id', labelProperty:'symbol', value:metricProduct?.metric?.id, id:field.id /}
        </div>
    </div>
    #{/field}

    #{textField property:'additionalReportItem.description', object:additionalReportItem /}

    #{textField property:'additionalReportItem.pricePerUnit.rawValue', object:additionalReportItem, label:defaultCurrency.getCurrencyCode() /}

    #{field property:'additionalReportItem.pricePerUnit.currencyCode', object:additionalReportItem}
    <input type="hidden" value="${defaultCurrency.getCurrencyCode()}" name="${field.name}"/>
    #{/field}

    #{field property:'additionalReportItem.valueAddedTaxRate.id', object:additionalReportItem}
    <div class="clearfix">
        <label for="${field.id}">&{field.name}</label>
        <div class="input">
            #{select field.name, items:valueAddedTaxRates, valueProperty:'id', labelProperty:'description', value:additionalReportItem?.valueAddedTaxRate?.id, id:field.id /}
        </div>
    </div>
    #{/field}
</fieldset>

<div class="actions">
<input type="submit" class="btn primary" value="&{'submit'}">
<button type="reset" class="btn">&{'cancel'}</button>
</div>
#{/form}