#{extends 'main.html' /}
#{set title:messages.get('additionalReportItem') /}

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        CKEDITOR.replace('additionalReportItem_description', {
            toolbar: [ [ 'Bold', 'Italic', 'Underline', 'Subscript', 'Superscript' ] ],
            coreStyles_bold	: { element : 'b' },
		    coreStyles_italic : { element : 'i' },
            enterMode: CKEDITOR.ENTER_BR
        });
    });
</script>
#{/set}

#{form @save()}

#{field property:'additionalReportItem.id', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'additionalReportItem.report.id', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'additionalReportItem.position', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'additionalReportItem'}</legend>

    #{textField property:'additionalReportItem.amount', object:additionalReportItem /}

    #{field property:'additionalReportItem.metric.id', object:additionalReportItem}
    <div class="clearfix">
        <label for="${field.id}">&{field.name}</label>
        <div class="input">
            #{select field.name, items:metrics, valueProperty:'id', labelProperty:'symbol', value:metricProduct?.metric?.id, id:field.id /}
        </div>
    </div>
    #{/field}

    #{textArea property:'additionalReportItem.description', object:additionalReportItem /}

    #{textField property:'additionalReportItem.retailPricePerMetric.rawValue', object:additionalReportItem, help:defaultCurrency.getCurrencyCode() /}

    #{field property:'additionalReportItem.retailPricePerMetric.currencyCode', object:additionalReportItem}
    <input type="hidden" value="${defaultCurrency.getCurrencyCode()}" name="${field.name}"/>
    #{/field}

    #{field property:'additionalReportItem.valueAddedTaxRate.id', object:additionalReportItem}
    <div class="clearfix">
        <label for="${field.id}">&{field.name}</label>
        <div class="input">
            #{select field.name, items:valueAddedTaxRates, valueProperty:'id', labelProperty:'description', value:additionalReportItem?.valueAddedTaxRate?.id, id:field.id /}
        </div>
    </div>
    #{/field}
</fieldset>

<div class="actions">
    <input type="submit" class="btn primary" value="&{'submit'}">
    <a href="@{Reports.show(additionalReportItem.report.id)}" class="btn">&{'cancel'}</a>
</div>
#{/form}