#{extends 'main.html' /}
#{set title:messages.get('contact') /}

#{form @save()}

#{field property:'additionalReportItem.id', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'additionalReportItem.report.id', object:additionalReportItem}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'additionalReportItem'}</legend>

    #{textField property:'additionalReportItem.amount', object:additionalReportItem /}

    #{textField property:'additionalReportItem.description', object:additionalReportItem /}

    #{textField property:'additionalReportItem.price.rawValue', object:additionalReportItem, label:defaultCurrency.getCurrencyCode() /}

    #{field property:'additionalReportItem.price.currencyCode', object:additionalReportItem}
    <input type="hidden" value="${defaultCurrency.getCurrencyCode()}" name="${field.name}"/>
    #{/field}
</fieldset>

<div class="actions">
<input type="submit" class="btn primary" value="&{'submit'}">
<button type="reset" class="btn">&{'cancel'}</button>
</div>
#{/form}