#{extends 'main.html' /}
#{set title:messages.get('batchJobRuns') /}

<ul class="breadcrumb" xmlns="http://www.w3.org/1999/html">
    <li class="active">&{'administration'} <span class="divider">/</span></li>
    <li class="active">&{'batchJobRuns'}</li>
</ul>

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

<pre>
${status}
</pre>

<div class="page-header">
    <h2>&{'batchJobRun.runningJobs'}</h2>
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>&{'batchJobRun.batchJobRunStatus'}</th>
        <th>&{'batchJobRun.jobClassName'}</th>
        <th>&{'batchJobRun.startDate'}</th>
        <th>&{'actions'}</th>
    </tr>
    </thead>
    <tbody>
    #{list items:batchJobs, as:'batchJob'}
    <tr>
        <td>#{batchJobRunStatus batchJob.batchJobRun /}</td>
        <td>${batchJob.batchJobRun.jobClassName}</td>
        <td>${batchJob.batchJobRun.startDate}</td>
        <td>
            <a href="@{showRunning(batchJob_index)}">&{'show'}</a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>

<div class="page-header">
    <h2>&{'batchJobRun.finishedJobRuns'}</h2>
</div>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>&{'batchJobRun.batchJobRunStatus'}</th>
        <th>&{'batchJobRun.jobClassName'}</th>
        <th>&{'batchJobRun.startDate'}</th>
        <th>&{'batchJobRun.endDate'}</th>
        <th>&{'actions'}</th>
    </tr>
    </thead>
    <tbody>
    #{list items:batchJobRuns, as:'batchJobRun'}
    <tr>
        <td><a href="@{show(batchJobRun.id)}" class="tdlink">#{batchJobRunStatus batchJobRun /}</a></td>
        <td><a href="@{show(batchJobRun.id)}" class="tdlink">${batchJobRun.jobClassName}</a></td>
        <td><a href="@{show(batchJobRun.id)}" class="tdlink">${batchJobRun.startDate}</a></td>
        <td><a href="@{show(batchJobRun.id)}" class="tdlink">${batchJobRun.endDate}</a></td>
        <td>
            #{if batchJobRun.isUnacknowledged()}
            <a href="@{acknowledge(batchJobRun.id)}"><i class="icon-ok"></i> &{'acknowledge'}</a>
            #{/if}
        </td>
    </tr>
    #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}


