#{extends 'main.html' /}
#{set title:messages.get('entries') /}

<ul class="breadcrumb">
  <li class="active">&{'accounting'} <span class="divider">/</span></li>
  <li class="active">&{'entries'}</li>
</ul>

#{addHeader 'entry' /}

<ul class="nav nav-pills">
#{list items:accountingPeriods, as:'accountingPeriod' }
    <li#{if accountingPeriod.id == currentAccountingPeriod.id} class="active"#{/if}>
        <a href="@{index(accountingPeriod.id)}">${accountingPeriod.description}</a>
    </li>
#{/list}
</ul>

#{tableSearch /}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'entry', fieldName:'date' /}
            #{tableSorter objectName:'entry', fieldName:'description' /}
            <th>&{'entry.debit.id'}</th>
            <th>&{'entry.credit.id'}</th>
            <th>&{'entry.amount.rawValue'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:entries, as:'entry'}
        <tr>
            <td><a href="@{show(entry.id)}" class="tdlink">${entry.date?.format()}</a></td>
            <td><a href="@{show(entry.id)}" class="tdlink">${entry.description}</a></td>
            <td><a href="@{show(entry.id)}" class="tdlink">${entry.debit?.label}</a></td>
            <td><a href="@{show(entry.id)}" class="tdlink">${entry.credit?.label}</a></td>
            <td><a href="@{show(entry.id)}" class="tdlink">${entry.amount.label}</a></td>
            <td>
                #{if entry.isCancelable()}
                <a modal="modal" href="@{cancelModal(entry.id)}"><i class="icon-remove"></i> &{'entry.cancel'}</a>
                #{/if}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}