#{extends 'main.html' /}
#{set title:messages.get('indexing') /}

<ul class="breadcrumb">
  <li class="active">&{'administration'} <span class="divider">/</span></li>
  <li class="active">&{'indexing'}</li>
</ul>

<div class="page-header">
    <h1>#{get 'title' /}</h1>
</div>

<div class="well">
    <a href="@{indexContacts()}"
       class="btn btn-primary">&{'index', messages.get('contacts')}</a>
    <a href="@{indexMetricProducts()}"
       class="btn btn-primary">&{'index', messages.get('metricProducts')}</a>
    <a href="@{indexOrders()}"
       class="btn btn-primary">&{'index', messages.get('orders')}</a>
    <a href="@{indexDebitors()}"
       class="btn btn-primary">&{'index', messages.get('debitors')}</a>
    <a href="@{indexCreditors()}"
       class="btn btn-primary">&{'index', messages.get('creditors')}</a>
</div>

<div class="well">
    <a href="@{deduplicateContacts()}"
       class="btn btn-primary">&{'deduplicate', messages.get('contacts')}</a>
</div>




