#{extends 'main.html' /}

#{form @save(), class:'form-horizontal'}
#{field property:'metric.id', object:metric}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'metric'}</legend>

    #{textField property:'metric.name', object:metric /}

    #{textField property:'metric.symbol', object:metric /}
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>
#{/form}