#{extends 'main.html' /}
#{set title:messages.get('metrics') /}

<ul class="breadcrumb">
  <li class="active">&{'administration'} <span class="divider">/</span></li>
  <li class="active">&{'metrics'}</li>
</ul>

#{addHeader 'metric' /}

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'metric', fieldName:'name' /}
            #{tableSorter objectName:'metric', fieldName:'symbol' /}
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:metrics, as:'metric'}
        <tr>
            <td>${metric.name}</td>
            <td>${metric.symbol}</td>
            <td>
                <a href="@{form(metric.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}