body {
    padding-top: 60px;
}

.modal {
    width: 750px;
}

.modal-body {
    max-height: 420px;
    overflow: scroll;
}

.modal form {
    margin-bottom: 0; /* fix margin for modal dialogs */
}

.move {
    cursor: move;
}
