#{extends 'main.html' /}
#{set title:messages.get('users') /}

<ul class="breadcrumb">
  <li class="active">&{'administration'} <span class="divider">/</span></li>
  <li class="active">&{'users'}</li>
</ul>

#{addHeader 'user' /}

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'user', fieldName:'username' /}
            #{tableSorter objectName:'user', fieldName:'firstName' /}
            #{tableSorter objectName:'user', fieldName:'lastName' /}
            #{tableSorter objectName:'user', fieldName:'email' /}
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:users, as:'user'}
        <tr>
            <td>${user.username}</td>
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td>${user.email}</td>
            <td>
                <a href="@{form(user.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}