#{extends 'main.html' /}
#{set title:messages.get('creditor') /}

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        createAutocomplete($('#creditor_supplier_id'), "@{Contacts.search}", #{jsAction @Contacts.popover(':id') /}, "${messages.get('contact')}");
    });
</script>
#{/set}

#{form @save(), class:'form-horizontal', enctype:'multipart/form-data'}
    #{field property:'creditor.id', object:creditor}
    <input type="hidden" value="${field.value}" name="${field.name}"/>
    #{/field}
    #{field property:'creditor.creditorStatus', object:creditor}
    <input type="hidden" value="${field.value}" name="${field.name}"/>
    #{/field}

<fieldset>
    <legend>&{'creditor'}</legend>

    #{autocompleteTextField property:'creditor.supplier.id', object:creditor, label:creditor?.supplier?.label /}

    #{textField property:'creditor.reference', object:creditor /}

    #{moneyField property:'creditor.amount', object:creditor, currencyCode:defaultCurrency.getCurrencyCode() /}

    #{dateField property:'creditor.due', object:creditor /}

    #{field property:'creditor.expenseAccount.id', object:creditor}
        <div class="control-group">
            <label class="control-label" for="${field.id}">&{field.name}</label>
            <div class="controls">
                #{select field.name, items:expenseAccounts, valueProperty:'id', labelProperty:'label', value:creditor?.expenseAccount?.id, id:field.id, size:'_', class:'span6' /}
            </div>
        </div>
    #{/field}

    #{field property:'creditor.valueAddedTaxRate.id', object:creditor}
        <div class="control-group">
            <label class="control-label" for="${field.id}">&{field.name}</label>
            <div class="controls">
                <select name="${field.name}" id="${field.id}">
                    #{list items:valueAddedTaxRates, as:'valueAddedTaxRate'}
                    <option value="${valueAddedTaxRate.id}">${valueAddedTaxRate.getLabel()}</option>
                    #{/list}
                </select>
            </div>
        </div>
    #{/field}

    #{field property:'creditor.inputTaxAccount.id', object:creditor}
        <div class="control-group">
            <label class="control-label" for="${field.id}">&{field.name}</label>
            <div class="controls">
                #{select field.name, items:inputTaxAccounts, valueProperty:'id', labelProperty:'label', value:creditor?.inputTaxAccount?.id, id:field.id, size:'_', class:'span6' /}
            </div>
        </div>
    #{/field}

    <div class="control-group ${errors.forKey('file') ? 'error' : ''}">
        <label class="control-label" for="file">&{'attachment.file'}</label>
        <div class="controls">
            <input type="file" id="file" name="file" class="input-file">
            <span class="help-inline">#{error 'file' /}</span>
        </div>
    </div>
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>
#{/form}