#{extends 'main.html' /}

#{form @update(), class:'form-horizontal', enctype:'multipart/form-data'}
    #{field property:'creditor.id', object:creditor}
    <input type="hidden" value="${field.value}" name="${field.name}"/>
    #{/field}

<fieldset>
    <legend>&{'creditor'}</legend>

    #{dateField property:'creditor.due', object:creditor /}

    <div class="control-group ${errors.forKey('file') ? 'error' : ''}">
        <label class="control-label" for="file">&{'attachment.file'}</label>
        <div class="controls">
            <input type="file" id="file" name="file" class="input-file">
            <span class="help-inline">#{error 'file' /}</span>
        </div>
    </div>
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{Creditors.show(creditor.id)}" class="btn">&{'cancel'}</a>
</div>
#{/form}