#{extends 'main.html' /}
#{set title:messages.get('creditors') /}

<ul class="breadcrumb">
  <li class="active">&{'accounting'} <span class="divider">/</span></li>
  <li class="active">&{'creditors'}</li>
</ul>

#{addHeader 'creditor' /}

<ul class="nav nav-pills">
    <li#{if filter == 'DUE'} class="active"#{/if}>
        <a href="@{index('DUE', 1, null, null, null)}">&{'creditor.creditorStatus.DUE'}</a>
    </li>
    <li#{if filter == 'PAID'} class="active"#{/if}>
        <a href="@{index('PAID', 1, null, null, null)}">&{'creditor.creditorStatus.PAID'}</a>
    </li>
    <li#{if filter == null} class="active"#{/if}>
        <a href="@{index(null, 1, null, null, null)}">&{'all'}</a>
    </li>
</ul>

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'creditor.creditorStatus'}</th>
            <th>&{'creditor.supplier.id'}</th>
            #{tableSorter objectName:'creditor', fieldName:'reference' /}
            <th>&{'creditor.due'}</th>
            <th>&{'creditor.amount.rawValue'}</th>
            <th>&{'creditor.amountDue'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:creditors, as:'creditor'}
        <tr>
            <td>#{creditorStatus creditor /}</td>
            <td>${creditor.supplier.label}</td>
            <td>${creditor.reference}</td>
            <td>${creditor.due.format()}</td>
            <td>${creditor.amount.getLabel()}</td>
            <td>${creditor.getAmountDue().getLabel()}</td>
            <td>
                <a href="@{show(creditor.id)}">&{'show'}</a>
                #{if creditor.isEditable()}
                | <a href="@{form(creditor.id)}">&{'edit'}</a>
                #{/if}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}