#{extends 'main.html' /}
#{set title:messages.get('creditors') /}

<ul class="breadcrumb">
  <li class="active">&{'accounting'} <span class="divider">/</span></li>
  <li class="active">&{'creditors'}</li>
</ul>

#{addHeader 'creditor' /}

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'creditor.creditorStatus'}</th>
            <th>&{'creditor.supplier.id'}</th>
            #{tableSorter objectName:'creditor', fieldName:'reference' /}
            <th>&{'creditor.amount.rawValue'}</th>
            <th>&{'creditor.due'}</th>
            <th>&{'creditor.amountPaid.rawValue'}</th>
            <th>&{'creditor.paid'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:creditors, as:'creditor'}
        <tr>
            <td>#{creditorStatus creditor /}</td>
            <td>${creditor.supplier.label}</td>
            <td>${creditor.reference}</td>
            <td>${creditor.amount.label}</td>
            <td>${creditor.due.format()}</td>
            <td>${creditor.amountPaid?.label}</td>
            <td>${creditor.paid?.format()}</td>
            <td>
                #{if creditor.creditorStatus.toString() != 'PAID'}
                <a href="@{form(creditor.id)}">&{'edit'}</a> |
                <a href="@{payForm(creditor.id)}">&{'pay'}</a>
                #{/if}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}