#{extends 'main.html' /}
#{set title:messages.get('creditor') /}

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#creditor_paid').datepicker( $.datepicker.regional[ "de" ] );
    });
</script>
#{/set}

#{form @save()}
#{field property:'creditor.id', object:creditor}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'creditor.supplier.id', object:creditor}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'creditor.reference', object:creditor}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'creditor.amount.rawValue', object:creditor}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'creditor.amount.currencyCode', object:creditor}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'creditor'}</legend>

    #{textField property:'creditor.amountPaid.rawValue', object:creditor, label:defaultCurrency.getCurrencyCode() /}

    #{field property:'creditor.amountPaid.currencyCode', object:creditor}
    <input type="hidden" value="${defaultCurrency.getCurrencyCode()}" name="${field.name}"/>
    #{/field}

    #{textField property:'creditor.paid', object:creditor /}
</fieldset>

<div class="actions">
    <input type="submit" class="btn primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>
#{/form}