#{extends 'main.html' /}
#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        createAutocomplete($('#order_orderingContact_id'), "@{Contacts.search}", #{jsAction @Contacts.popover(':id') /}, "${messages.get('contact')}");

        createAutocomplete($('#order_shippingContact_id'), "@{Contacts.search}", #{jsAction @Contacts.popover(':id') /}, "${messages.get('contact')}");

        createAutocomplete($('#order_billingContact_id'), "@{Contacts.search}", #{jsAction @Contacts.popover(':id') /}, "${messages.get('contact')}");
    });
</script>
#{/set}

#{form @save(), class:'form-horizontal'}
#{field property:'order.id', object:order}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'order.orderStatus', object:order}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'order'}</legend>

    #{textField property:'order.description', object:order /}

    %{
        if(order?.orderingContact?.id != null) {
            args = new java.util.HashMap<String, Object>();
            args.put('id', order.orderingContact.id);
            help = '<span class="label" rel="popover" title="' + messages.get('contact') + '" data-source="' + play.mvc.Router.reverse('Contacts.popover', args) + '">Info</span> ';
        } else {
            help = '<a href="' + play.mvc.Router.reverse('Contacts.modalForm') + '" modal="modal" target="order_orderingContact_id">' + messages.get('create', messages.get('contact')) + '</a>';
        }
    }%
    #{autocompleteTextField property:'order.orderingContact.id', object:order, label:order?.orderingContact?.label, help:help.raw() /}

    %{
        if(order?.shippingContact?.id != null) {
            args = new java.util.HashMap<String, Object>();
            args.put('id', order.shippingContact.id);
            help = '<span class="label" rel="popover" title="' + messages.get('contact') + '" data-source="' + play.mvc.Router.reverse('Contacts.popover', args) + '">Info</span> ';
        } else {
            help = '<a href="' + play.mvc.Router.reverse('Contacts.modalForm') + '" modal="modal" target="order_shippingContact_id">' + messages.get('create', messages.get('contact')) + '</a>';
        }
    }%
    #{autocompleteTextField property:'order.shippingContact.id', object:order, label:order?.shippingContact?.label, help:help.raw()  /}

    %{
        if(order?.billingContact?.id != null) {
            args = new java.util.HashMap<String, Object>();
            args.put('id', order.billingContact.id);
            help = '<span class="label" rel="popover" title="' + messages.get('contact') + '" data-source="' + play.mvc.Router.reverse('Contacts.popover', args) + '">Info</span> ';
        } else {
            help = '<a href="' + play.mvc.Router.reverse('Contacts.modalForm') + '" modal="modal" target="order_billingContact_id">' + messages.get('create', messages.get('contact')) + '</a>';
        }
    }%
    #{autocompleteTextField property:'order.billingContact.id', object:order, label:order?.billingContact?.label, help:help.raw()  /}

    #{if order.id == null}
    #{field property:'order.accountingPeriod.id', object:order}
        <div class="control-group">
            <label class="control-label" for="${field.id}">&{field.name}</label>
            <div class="controls">
                <select name="${field.name}">
                    #{list items:accountingPeriods, as:'accountingPeriod'}
                        <option value="${accountingPeriod.id}"#{if accountingPeriod.active} selected="selected"#{/if}>${accountingPeriod.description}</option>
                    #{/list}
                </select>
            </div>
        </div>
    #{/field}
    #{/if}

    #{editorTextArea property:'order.comments', object:order /}
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>

#{/form}