#{extends 'main.html' /}
#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        createAutocomplete($('#order_orderingContact_id'), "@{Contacts.search}");

        createAutocomplete($('#order_shippingContact_id'), "@{Contacts.search}");

        createAutocomplete($('#order_billingContact_id'), "@{Contacts.search}");
    });
</script>
#{/set}

#{form @save()}
#{field property:'order.id', object:order}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

#{field property:'order.orderStatus', object:order}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'order'}</legend>

    #{textField property:'order.description', object:order /}

    %{
        help = "<a href=\"" + play.mvc.Router.reverse('Contacts.modalForm') + "\" modal=\"modal\" target=\"order_orderingContact_id\">" + messages.get('create', messages.get('contact')) + "</a>";
    }%
    #{autocompleteTextField property:'order.orderingContact.id', object:order, label:order?.orderingContact?.label, help:help.raw() /}

    %{
        help = "<a href=\"" + play.mvc.Router.reverse('Contacts.modalForm') + "\" modal=\"modal\" target=\"order_shippingContact_id\">" + messages.get('create', messages.get('contact')) + "</a>";
    }%
    #{autocompleteTextField property:'order.shippingContact.id', object:order, label:order?.shippingContact?.label  /}

    %{
        help = "<a href=\"" + play.mvc.Router.reverse('Contacts.modalForm') + "\" modal=\"modal\" target=\"order_billingContact_id\">" + messages.get('create', messages.get('contact')) + "</a>";
    }%
    #{autocompleteTextField property:'order.billingContact.id', object:order, label:order?.billingContact?.label  /}

    #{textArea property:'order.comments', object:order /}
</fieldset>

<div class="actions">
    <input type="submit" class="btn primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>

#{/form}

<div id="modal" class="modal fade hide"></div>