#{extends 'main.html' /}
#{set title:messages.get('orders') /}

<ul class="breadcrumb">
  <li class="active">&{'orders'}</li>
</ul>

<h1>#{get 'title' /}</h1>

<div class="well">
    <a href="@{Orders.form}" class="btn btn-primary">&{'create', messages.get('order')}</a>
</div>

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'order.orderStatus'}</th>
            #{tableSorter objectName:'order', fieldName:'description' /}
            <th>&{'order.shippingContact.id'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:orders, as:'order'}
        <tr>
            <td>#{orderStatus order /}</td>
            <td>${order.description}</td>
            <td><a href="@{Contacts.show(order.shippingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.shippingContact.id)}">${order.shippingContact.label}</a></td>
            <td>
                <a href="@{show(order.id)}">&{'show'}</a>
                <a href="@{form(order.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}