#{extends 'main.html' /}
#{set title:messages.get('orders') /}

<ul class="breadcrumb">
  <li class="active">&{'orders'}</li>
</ul>

#{addHeader 'order'/}

<ul class="nav nav-pills">
    #{list items:reportTypes, as:'reportType' }
    <li#{if reportType == filter} class="active"#{/if}>
        <a href="@{index(reportType, 1, null, null, null)}">${reportType}</a>
    </li>
    #{/list}
    <li#{if filter == 'NEW'} class="active"#{/if}>
        <a href="@{index('NEW', 1, null, null, null)}">&{'order.orderStatus.NEW'}</a>
    </li>
    <li#{if filter == 'IN_PROGRESS'} class="active"#{/if}>
        <a href="@{index('IN_PROGRESS', 1, null, null, null)}">&{'order.orderStatus.IN_PROGRESS'}</a>
    </li>
    <li#{if filter == 'FINISHED'} class="active"#{/if}>
        <a href="@{index('FINISHED', 1, null, null, null)}">&{'order.orderStatus.FINISHED'}</a>
    </li>
    <li#{if filter == 'ABORTED'} class="active"#{/if}>
        <a href="@{index('ABORTED', 1, null, null, null)}">&{'order.orderStatus.ABORTED'}</a>
    </li>
    <li#{if filter == null} class="active"#{/if}>
        <a href="@{index(null, 1, null, null, null)}">&{'all'}</a>
    </li>
</ul>

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'order.orderStatus'}</th>
            #{tableSorter objectName:'order', fieldName:'description' /}
            <th>&{'order.orderingContact.id'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:orders, as:'order'}
        <tr>
            <td>#{orderStatus order /}</td>
            <td>${order.description}</td>
            <td><a href="@{Contacts.show(order.orderingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.orderingContact.id)}">${order.orderingContact.label}</a></td>
            <td>
                <a href="@{show(order.id)}">&{'show'}</a>
                #{if order.isEditable()}
                | <a href="@{form(order.id)}">&{'edit'}</a>
                #{/if}
                #{if order.isDeletable()}
                | <a modal="modal" href="@{delete(order.id)}">&{'delete'}</a>
                #{/if}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}