#{extends 'main.html' /}
#{set title:messages.get('order') /}

<ul class="breadcrumb">
  <li><a href="@{Orders.index}">&{'orders'}</a> <span class="divider">/</span></li>
  <li class="active">${order.description}</li>
</ul>

<div class="page-header">
    #{if order.isEditable()}
    <span class="pull-right">
        <a href="@{form(order.id)}" class="btn btn-primary"><span class="icon-pencil icon-white"></span> &{'edit'}</a>
    </span>
    #{/if}
    <h1>#{get 'title' /}</h1>
</div>

<dl>
    <dt>&{'order.reference'}</dt>
    <dd>${order.getReferenceNumber()}</dd>

    <dt>&{'order.description'}</dt>
    <dd>${order.description}</dd>

    <dt>&{'order.orderStatus'}</dt>
    <dd>#{orderStatus order /}</dd>

    <dt>&{'order.orderingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.orderingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.orderingContact.id)}">${order.orderingContact?.label}</a></dd>

    <dt>&{'order.shippingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.shippingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.shippingContact.id)}">${order.shippingContact?.label}</a></dd>

    <dt>&{'order.billingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.billingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.billingContact.id)}">${order.billingContact?.label}</a></dd>

    <dt>&{'accountingPeriod'}</dt>
    <dd>${order.accountingPeriod.description}</dd>

    <dt>&{'updated'}</dt>
    <dd>#{updated order /}</dd>

    <dt>&{'order.comments'}</dt>
    <dd>${order.comments?.raw()}</dd>
</dl>

#{if order.isEditable()}
<div class="page-header">
    <h2>&{'workflow'}</h2>
</div>
<div class="well">
    #{if order.orderStatus.toString() == 'NEW'}
        #{list items:rootReportTypes, as:'rootReportType'}
        <a href="@{Reports.confirmCreate(order.id, rootReportType.id)}"
           class="btn btn-primary"
           modal="modal">&{'create', rootReportType.name}</a>
        #{/list}
    #{/if}
    #{elseif order.orderStatus.toString() == 'IN_PROGRESS'}
        #{list items:order.currentReport.reportType.reportTransitions, as:'reportTransition'}
        <a href="@{Reports.confirmTransition(order.currentReport.id, reportTransition.id)}"
           class="btn btn-primary"
           modal="modal">&{'create', reportTransition.targetReportType.name}</a>
        #{/list}
    #{/elseif}

    #{if order.orderStatus.toString() == 'NEW' || order.orderStatus.toString() == 'IN_PROGRESS'}
        <a href="@{Orders.confirmFinish(order.id)}"
           class="btn btn-success"
           modal="modal"><span class="icon-ok icon-white"></span> &{'finish'}</a>
        <a href="@{Orders.confirmAbort(order.id)}"
           class="btn btn-danger"
           modal="modal"><span class="icon-remove icon-white"></span> &{'abort'}</a>
    #{/if}
</div>
#{/if}

#{if order.currentReport}
<div class="page-header">
    <h2>&{'order.currentReport'}</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'report.number'}</th>
            <th>&{'reportType.name'}</th>
            <th>&{'updated'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>${order.currentReport.id}</td>
            <td>${order.currentReport.reportType.name}</td>
            <td>#{updated order.currentReport /}</td>
            <td>
                <a href="@{Reports.show(order.currentReport.id)}">&{'show'}</a> |
                <a href="@{Reports.download(order.currentReport.id)}">&{'downloadPdf'}</a>
            </td>
        </tr>
    </tbody>
</table>

#{/if}

<div class="page-header">
    <h2>&{'report.allReports'}</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'report.number'}</th>
            <th>&{'reportType.name'}</th>
            <th>&{'updated'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:order.reports, as:'report'}
        <tr>
            <td>${report.id}</td>
            <td>${report.reportType.name}</td>
            <td>#{updated report /}</td>
            <td>
                <a href="@{Reports.show(report.id)}">&{'show'}</a> |
                <a href="@{Reports.download(report.id)}">&{'downloadPdf'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<div class="page-header">
    <span class="pull-right">
        <a modal="modal" href="@{OrderAttachments.modalUpload(order.id)}" class="btn btn-primary"><span class="icon-plus icon-white"></span>  &{'create', messages.get('attachment')}</a>
    </span>
    <h2>&{'attachments'}</h2>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'attachment.fileName'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:order.getAttachments(), as:'attachment'}
        <tr>
            <td>${attachment.getFilename()}</td>
            <td>
                <a href="${attachment.getDownloadPath()}">&{'download'}</a>
                #{if order.isEditable()}
                | <a modal="modal" href="@{OrderAttachments.delete(order.id, attachment.getFilename())}">&{'delete'}</a>
                #{/if}
            </td>
        </tr>
        #{/list}
    </tbody>
</table> 