#{extends 'main.html' /}
#{set title:messages.get('order') /}

<ul class="breadcrumb">
  <li><a href="@{Orders.index}">&{'orders'}</a> <span class="divider">/</span></li>
  <li class="active">${order.description}</li>
</ul>

#{editHeader order.id /}

<dl>
    <dt>&{'order.reference'}</dt>
    <dd>${order.id}</dd>

    <dt>&{'order.description'}</dt>
    <dd>${order.description}</dd>

    <dt>&{'order.orderStatus'}</dt>
    <dd>#{orderStatus order /}</dd>

    <dt>&{'order.orderingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.orderingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.orderingContact.id)}">${order.orderingContact?.label}</a></dd>

    <dt>&{'order.shippingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.shippingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.shippingContact.id)}">${order.shippingContact?.label}</a></dd>

    <dt>&{'order.billingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.billingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(order.billingContact.id)}">${order.billingContact?.label}</a></dd>

    <dt>&{'updated'}</dt>
    <dd>#{updated order /}</dd>

    <dt>&{'order.comments'}</dt>
    <dd>${order.comments?.raw()}</dd>
</dl>

<h2>&{'workflow'}</h2>
<div class="well">
    #{if order.orderStatus.toString() == 'NEW'}
        #{list items:rootReportTypes, as:'rootReportType'}
        <a href="@{Reports.confirmCreate(order.id, rootReportType.id)}"
           class="btn btn-primary"
           modal="modal">&{'create', rootReportType.name}</a>
        #{/list}
    #{/if}
    #{elseif order.orderStatus.toString() == 'IN_PROGRESS'}
        #{list items:order.currentReport.reportType.reportTransitions, as:'reportTransition'}
        <a href="@{Reports.confirmTransition(order.currentReport.id, reportTransition.id)}"
           class="btn btn-primary"
           modal="modal">&{'create', reportTransition.targetReportType.name}</a>
        #{/list}
    #{/elseif}

    #{if order.orderStatus.toString() == 'NEW' || order.orderStatus.toString() == 'IN_PROGRESS'}
        <a href="@{Orders.confirmFinish(order.id)}"
           class="btn btn-success"
           modal="modal"><span class="icon-ok icon-white"></span> &{'finish'}</a>
        <a href="@{Orders.confirmAbort(order.id)}"
           class="btn btn-danger"
           modal="modal"><span class="icon-remove icon-white"></span> &{'abort'}</a>
    #{/if}
</div>

#{if order.currentReport}
<h2>&{'order.currentReport'}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'report.number'}</th>
            <th>&{'reportType.name'}</th>
            <th>&{'updated'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>${order.currentReport.id}</td>
            <td>${order.currentReport.reportType.name}</td>
            <td>#{updated order.currentReport /}</td>
            <td>
                <a href="@{Reports.show(order.currentReport.id)}">&{'show'}</a> |
                <a href="@{Reports.download(order.currentReport.id)}">&{'downloadPdf'}</a>
      </td>
        </tr>

    </tbody>
</table>

#{/if}

<h2>&{'report.allReports'}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'report.number'}</th>
            <th>&{'reportType.name'}</th>
            <th>&{'updated'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:order.reports, as:'report'}
        <tr>
            <td>${report.id}</td>
            <td>${report.reportType.name}</td>
            <td>#{updated report /}</td>
            <td>
                <a href="@{Reports.show(report.id)}">&{'show'}</a> |
                <a href="@{Reports.download(report.id)}">&{'downloadPdf'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<div id="modal" class="modal fade hide"></div>