#{extends 'main.html' /}
#{set title:messages.get('order') /}

<h1>#{get 'title' /}</h1>

<dl>
    <dt>&{'order.description'}</dt>
    <dd>${order.description}</dd>

    <dt>&{'order.orderStatus'}</dt>
    <dd>#{orderStatus order /}</dd>

    <dt>&{'order.orderingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.orderingContact.id)}">${order.orderingContact?.label}</a></dd>

    <dt>&{'order.shippingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.shippingContact.id)}">${order.shippingContact?.label}</a></dd>

    <dt>&{'order.billingContact.id'}</dt>
    <dd><a href="@{Contacts.show(order.billingContact.id)}">${order.billingContact?.label}</a></dd>

    <dt>&{'order.comments'}</dt>
    <dd>${order.comments}</dd>
</dl>

<h2>&{'workflow'}</h2>
<div class="well">
    #{if order.orderStatus.toString() == 'NEW'}
        #{list items:rootReportTypes, as:'rootReportType'}
        <a href="@{Reports.confirmCreate(order.id, rootReportType.id)}"
           class="btn primary"
           modal="modal">&{'create', rootReportType.name}</a>
        #{/list}
    #{/if}
    #{elseif order.orderStatus.toString() == 'IN_PROGRESS'}
        #{list items:order.currentReport.reportType.reportTransitions, as:'reportTransition'}
        <a href="@{Reports.confirmTransition(order.currentReport.id, reportTransition.id)}"
           class="btn primary"
           modal="modal">&{'create', reportTransition.targetReportType.name}</a>
        #{/list}
    #{/elseif}

    #{if (order.orderStatus.toString() == 'NEW' || order.orderStatus.toString() == 'IN_PROGRESS')}
        <a href="@{Orders.confirmFinish(order.id)}"
           class="btn success"
           modal="modal">&{'finish'}</a>
        <a href="@{Orders.confirmAbort(order.id)}"
           class="btn danger"
           modal="modal">&{'abort'}</a>
    #{/if}
</div>

#{if order.currentReport}
<h2>&{'order.currentReport'}</h2>
<table class="zebra-striped">
    <thead>
        <tr>
            <th>&{'reportType.name'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>${order.currentReport.reportType.name}</td>
            <td>
                <a href="@{Reports.show(order.currentReport.id)}">&{'show'}</a>
            </td>
        </tr>

    </tbody>
</table>

#{/if}

<h2>&{'report.allReports'}</h2>
<table class="zebra-striped">
    <thead>
        <tr>
            <th>&{'reportType.name'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:order.reports, as:'report'}
        <tr>
            <td>${report.reportType.name}</td>
            <td>
                <a href="@{Reports.show(report.id)}">&{'show'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

<div id="modal" class="modal fade hide"></div>