#{extends 'main.html' /}
#{set title:messages.get('debitor') /}

<ul class="breadcrumb">
    <li>&{'accounting'} <span class="divider">/</span></li>
    <li><a href="@{index}">&{'debitors'}</a> <span class="divider">/</span></li>
    <li class="active">&{'debitor'}</li>
</ul>

#{editHeader debitor.id /}

<dl>
    <dt>&{'order'}</dt>
    <dd><a href="@{Reports.show(debitor.report.id)}">${debitor.report.order.description}</a></dd>

    <dt>&{'order.billingContact.id'}</dt>
    <dd><a href="@{Contacts.show(debitor.report.order.billingContact.id)}" rel="popover" title="&{'contact'}" data-source="@{Contacts.popover(debitor.report.order.billingContact.id)}">${debitor.report.order.billingContact.label}</a></dd>

    <dt>&{'debitor.debitorStatus'}</dt>
    <dd>#{debitorStatus debitor /}</dd>

    <dt>&{'debitor.due'}</dt>
    <dd>${debitor.due.format()}</dd>

    <dt>&{'report.taxedTotalPrice'}</dt>
    <dd>${debitor.report.getTaxedTotalPrice()}</dd>
    
    <dt>&{'debitor.amountDue'}</dt>
    <dd>${debitor.amountDue}</dd>
</dl>

<div class="page-header">
    <h2>&{'debitor.debitorEntries'}</h2>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>&{'entry.date'}</th>
        <th>&{'entry.description'}</th>
        <th>&{'entry.voucher'}</th>
        <th>&{'entry.debit.id'}</th>
        <th>&{'entry.credit.id'}</th>
        <th>&{'entry.amount.rawValue'}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${debitor.debitorEntry.date?.format()}</td>
        <td>${debitor.debitorEntry.description}</td>
        <td>${debitor.debitorEntry.voucher}</td>
        <td>${debitor.debitorEntry.debit?.label}</td>
        <td>${debitor.debitorEntry.credit?.label}</td>
        <td>${debitor.debitorEntry.amount.label}</td>
    </tr>
    <tr>
        <td>${debitor.valueAddedTaxEntry.date?.format()}</td>
        <td>${debitor.valueAddedTaxEntry.description}</td>
        <td>${debitor.valueAddedTaxEntry.voucher}</td>
        <td>${debitor.valueAddedTaxEntry.debit?.label}</td>
        <td>${debitor.valueAddedTaxEntry.credit?.label}</td>
        <td>${debitor.valueAddedTaxEntry.amount.label}</td>
    </tr>
    </tbody>
</table>

<div class="page-header">
    <h2>&{'debitorPaymentReceipts'}</h2>
</div>
#{if debitor.debitorStatus == models.DebitorStatus.DUE}
<div class="well">
    <a href="@{DebitorPaymentReceipts.create(debitor.id)}"
       class="btn btn-primary">&{'create', messages.get('debitorPaymentReceipt')}</a>
    <a href="@{Debitors.discountAmountDue(debitor.id)}"
       class="btn btn-warning">&{'debitor.discountAmountDue'}</a>
    <a href="@{Debitors.chargeOffAmountDue(debitor.id)}"
       class="btn btn-danger">&{'debitor.chargeOffAmountDue'}</a>
</div>
#{/if}

<table class="table table-striped">
    <thead>
    <tr>
        <th>&{'debitorPaymentReceipt.amount.rawValue'}</th>
        <th>&{'debitorPaymentReceipt.paid'}</th>
        <th>&{'debitorPaymentReceipt.paymentAccount.id'}</th>
        <th>&{'actions'}</th>
    </tr>
    </thead>
    <tbody>
    #{list items:debitor.debitorPaymentReceipts, as:'debitorPaymentReceipt'}
    <tr>
        <td>${debitorPaymentReceipt.amount}</td>
        <td>${debitorPaymentReceipt.paid.format()}</td>
        <td>${debitorPaymentReceipt.paymentEntry.debit.getLabel()}</td>
        <td>
            <a href="@{DebitorPaymentReceipts.show(debitorPaymentReceipt.id)}">&{'show'}</a>
            #{if debitor.debitorStatus == models.DebitorStatus.DUE}
            <a href="@{DebitorPaymentReceipts.form(debitorPaymentReceipt.id)}">&{'edit'}</a>
            #{/if}
        </td>
    </tr>
    #{/list}

    </tbody>
</table>

#{if debitor.amountDueEntry}
<h2>&{'debitor.amountDueEntries'}</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>&{'entry.date'}</th>
        <th>&{'entry.description'}</th>
        <th>&{'entry.voucher'}</th>
        <th>&{'entry.debit.id'}</th>
        <th>&{'entry.credit.id'}</th>
        <th>&{'entry.amount.rawValue'}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${debitor.amountDueEntry.date?.format()}</td>
        <td>${debitor.amountDueEntry.description}</td>
        <td>${debitor.amountDueEntry.voucher}</td>
        <td>${debitor.amountDueEntry.debit?.label}</td>
        <td>${debitor.amountDueEntry.credit?.label}</td>
        <td>${debitor.amountDueEntry.amount.label}</td>
    </tr>
    <tr>
        <td>${debitor.valueAddedTaxCorrectionEntry?.date?.format()}</td>
        <td>${debitor.valueAddedTaxCorrectionEntry?.description}</td>
        <td>${debitor.valueAddedTaxCorrectionEntry?.voucher}</td>
        <td>${debitor.valueAddedTaxCorrectionEntry?.debit?.label}</td>
        <td>${debitor.valueAddedTaxCorrectionEntry?.credit?.label}</td>
        <td>${debitor.valueAddedTaxCorrectionEntry?.amount?.label}</td>
    </tr>
    </tbody>
</table>
#{/if}

<div id="modal" class="modal fade hide"></div>