#{extends 'main.html' /}

#{form @save()}
    <fieldset>
        <legend>&{'contact'}</legend>

        #{textField 'contact.company' /}

        #{textField 'contact.firstName' /}

        #{textField 'contact.lastName' /}

        #{textField 'contact.street' /}

        #{textField 'contact.postalCode' /}

        #{textField 'contact.city' /}

        #{textField 'contact.phone' /}

        #{textField 'contact.fax' /}

        #{textField 'contact.mobile' /}

        #{textField 'contact.email' /}

        #{textField 'contact.website' /}

        #{textArea 'contact.comments' /}
    </fieldset>

    <div class="actions">
        <input type="submit" class="btn primary" value="&{'submit'}">
        <button type="reset" class="btn">&{'cancel'}</button>
    </div>

#{/form}