#{extends 'main.html' /}
#{set title:messages.get('contacts') /}

<ul class="breadcrumb">
  <li class="active">&{'contacts'}</li>
</ul>

#{addHeader 'contact' /}

#{tableSearch /}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'contact', fieldName:'company' /}
            #{tableSorter objectName:'contact', fieldName:'firstName' /}
            #{tableSorter objectName:'contact', fieldName:'lastName' /}
            #{tableSorter objectName:'contact', fieldName:'street' /}
            #{tableSorter objectName:'contact', fieldName:'city' /}
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:contacts, as:'contact'}
        <tr>
            <td><a href="@{show(contact.id)}" class="tdlink">${contact.company}</a></td>
            <td><a href="@{show(contact.id)}" class="tdlink">${contact.firstName}</a></td>
            <td><a href="@{show(contact.id)}" class="tdlink">${contact.lastName}</a></td>
            <td><a href="@{show(contact.id)}" class="tdlink">${contact.street}</a></td>
            <td><a href="@{show(contact.id)}" class="tdlink">${contact.city}</a></td>
            <td>
                <a href="@{form(contact.id)}"><i class="icon-pencil"></i> &{'edit'}</a><br />
                #{if contact.isDeletable()}
                <a modal="modal" href="@{delete(contact.id)}"><i class="icon-trash"></i> &{'delete'}</a>
                #{/if}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}