#{extends 'main.html' /}
#{set title:messages.get('contacts') /}

<ul class="breadcrumb">
  <li class="active">&{'contacts'}</li>
</ul>

<h1>#{get 'title' /}</h1>

<div class="well">
    <a href="@{form}" class="btn primary">&{'create', messages.get('contact')}</a>
</div>

#{tableSearch /}
<table class="zebra-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'contact', fieldName:'company' /}
            #{tableSorter objectName:'contact', fieldName:'firstName' /}
            #{tableSorter objectName:'contact', fieldName:'lastName' /}
            #{tableSorter objectName:'contact', fieldName:'street' /}
            #{tableSorter objectName:'contact', fieldName:'city' /}
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:contacts, as:'contact'}
        <tr>
            <td>${contact.company}</td>
            <td>${contact.firstName}</td>
            <td>${contact.lastName}</td>
            <td>${contact.street}</td>
            <td>${contact.city}</td>
            <td>
                <a href="@{show(contact.id)}">&{'show'}</a>
                <a href="@{form(contact.id)}">&{'edit'}</a>
                <a modal="modal" href="@{delete(contact.id)}">&{'delete'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}

<div id="modal" class="modal fade hide"></div>