#{extends 'main.html' /}
#{set title:messages.get('contacts') /}

<h1>#{get 'title' /}</h1>

<dl>
    <dt>&{'contact.company'}</dt>
    <dd>${contact.company}</dd>

    <dt>&{'contact.firstName'}</dt>
    <dd>${contact.firstName}</dd>

    <dt>&{'contact.lastName'}</dt>
    <dd>${contact.lastName}</dd>

    <dt>&{'contact.street'}</dt>
    <dd>${contact.street}</dd>

    <dt>&{'contact.postalCode'}</dt>
    <dd>${contact.postalCode}</dd>

    <dt>&{'contact.city'}</dt>
    <dd>${contact.city}</dd>

    <dt>&{'contact.countryCode'}</dt>
    <dd>${contact.countryCode}</dd>

    <dt>&{'contact.phone'}</dt>
    <dd>${contact.phone}</dd>

    <dt>&{'contact.fax'}</dt>
    <dd>${contact.fax}</dd>

    <dt>&{'contact.mobile'}</dt>
    <dd>${contact.mobile}</dd>

    <dt>&{'contact.email'}</dt>
    <dd>${contact.email}</dd>

    <dt>&{'contact.website'}</dt>
    <dd>${contact.website}</dd>

    <dt>&{'contact.comments'}</dt>
    <dd>${contact.comments}</dd>
</dl>
