#{extends 'main.html' /}

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        CKEDITOR.replace('precalculatedProduct_description', {
            toolbar: [ [ 'Bold', 'Italic', 'Underline', 'Subscript', 'Superscript' ] ],
            coreStyles_bold	: { element : 'b' },
		    coreStyles_italic : { element : 'i' },
            enterMode: CKEDITOR.ENTER_BR
        });
    });
</script>
#{/set}

#{form @save(), class:'form-horizontal'}
#{field property:'precalculatedProduct.id', object:precalculatedProduct}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'precalculatedProduct'}</legend>

    #{textField property:'precalculatedProduct.name', object:precalculatedProduct /}

    #{field property:'precalculatedProduct.description', object:precalculatedProduct}
    <div class="control-group ${field.errorClass}">
        <label for="${field.id}">&{field.name}</label>
        <div class="controls">
            <textarea class="xxlarge" id="${field.id}" name="${field.name}" rows="3" cols="80">${field.value}</textarea>
            <span class="help-block">${field.error}</span>
        </div>
    </div>
    #{/field}

    #{field property:'precalculatedProduct.metric.id', object:precalculatedProduct}
    <div class="control-group">
        <label for="${field.id}">&{field.name}</label>
        <div class="controls">
            #{select field.name, items:metrics, valueProperty:'id', labelProperty:'symbol', value:metricProduct?.metric?.id, id:field.id /}
        </div>
    </div>
    #{/field}

    #{field property:'precalculatedProduct.valueAddedTaxRate.id', object:precalculatedProduct}
    <div class="control-group">
        <label for="${field.id}">&{field.name}</label>
        <div class="controls">
            #{select field.name, items:valueAddedTaxRates, valueProperty:'id', labelProperty:'description', value:precalculatedProduct?.valueAddedTaxRate?.id, id:field.id /}
        </div>
    </div>
    #{/field}
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>
#{/form}