#{extends 'main.html' /}
#{set title:messages.get('precalculatedProducts') /}

<ul class="breadcrumb">
  <li class="active">&{'products'} <span class="divider">/</span></li>
  <li class="active">&{'precalculatedProducts'}</li>
</ul>

<h1>#{get 'title' /}</h1>

<div class="well">
    <a href="@{PrecalculatedProducts.form}" class="btn btn-primary">&{'create', messages.get('precalculatedProduct')}</a>
</div>

#{tableSearch /}
<table class="table table-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'precalculatedProduct', fieldName:'name' /}
            <th>&{'precalculatedProduct.metric.id'}</th>
            <th>&{'precalculatedProduct.valueAddedTaxRate.id'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:precalculatedProducts, as:'precalculatedProduct'}
        <tr>
            <td>${precalculatedProduct.name}</td>
            <td>${precalculatedProduct.metric.name}</td>
            <td>${precalculatedProduct.valueAddedTaxRate}</td>
            <td>
                <a href="@{form(precalculatedProduct.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}