<div class="modal-header">
    <a data-dismiss="modal" class="close">&times;</a>
    <h3>&{'attachment'}</h3>
</div>
#{form @upload(), id:'modalForm', class:'form-horizontal', enctype:'multipart/form-data'}

<div class="modal-body">
    
    <input type="hidden" value="${order.id}" name="orderId"/>

    <fieldset>
        <legend>&{'attachment'}</legend>

        <div class="control-group">
            <label class="control-label" for="file">&{'attachment.file'}</label>
            <div class="controls">
                <input type="file" id="file" name="file" class="input-file">
            </div>
        </div>
    </fieldset>


</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="#" onclick="$('#modal').modal('hide')" class="btn secondary">&{'cancel'}</a>
</div>
#{/form}