%{

additionalClass = '';
if(_arg.creditorStatus.toString() == 'DUE') {
    if(_arg.isOverdue()) {
    additionalClass = 'blink label-important';
    } else {
    additionalClass = 'label-warning';
    }
} else if(_arg.creditorStatus.toString() == 'PAID') {
    additionalClass = 'label-success';
}

}%

<span class="label ${additionalClass}">
    #{if _arg.isOverdue()}
    &{'creditor.creditorStatus.OVERDUE'}
    #{/if}
    #{else}
    &{'creditor.creditorStatus.' + _arg.creditorStatus}
    #{/else}
</span>