#{extends 'main.html' /}
#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#picker').farbtastic('#reportType_reportColor');
    });
</script>
#{/set}

#{form @save(), class:'form-horizontal'}
#{field property:'reportType.id', object:reportType}
<input type="hidden" value="${field.value}" name="${field.name}"/>
#{/field}

<fieldset>
    <legend>&{'reportType'}</legend>

    #{textField property:'reportType.name', object:reportType /}

    #{field property:'reportType.rootReportType', object:reportType}
    <div class="control-group">
        <label class="control-label" for="${field.id}">&{field.name}</label>
        <div class="controls">
            <select name="${field.name}" id="${field.id}">
                <option value="false"#{if field.value==false} selected="selected"#{/if}>&{'false'}</option>
                <option value="true"#{if field.value==true} selected="selected"#{/if}>&{'true'}</option>
            </select>
        </div>
    </div>
    #{/field}

    #{field property:'reportType.reportColor', object:reportType}
        <div class="control-group ${field.errorClass}">
            <label class="control-label" for="${field.id}">&{field.name}</label>
            <div class="controls">
                <input type="text" id="${field.id}" name="${field.name}" value="#{if _value}${_value}#{/if}#{else}${field.value}#{/else}" class="span6">
                <span class="help-inline">#{if field.error}${field.error}#{/if}#{else}${_help}#{/else}</span>
                <div id="picker"></div>
            </div>
        </div>
    #{/field}

    #{textArea property:'reportType.template', object:reportType /}
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{index}" class="btn">&{'cancel'}</a>
</div>
#{/form}