#{extends 'main.html' /}
#{set title:messages.get('reportTypes') /}

<ul class="breadcrumb">
  <li class="active">&{'administration'} <span class="divider">/</span></li>
  <li class="active">&{'reportTypes'}</li>
</ul>

<h1>#{get 'title' /}</h1>

<div class="well">
    <a href="@{ReportTypes.form}" class="btn primary">&{'create', messages.get('reportType')}</a>
</div>

#{tableSearch /}
<table class="zebra-striped">
    <thead>
        <tr>
            #{tableSorter objectName:'reportType', fieldName:'name' /}
            <th>&{'reportType.rootReportType'}</th>
            <th>&{'reportType.reportColor'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:reportTypes, as:'reportType'}

        %{
        additionalClass = '';
        if(reportType.reportColor.toString() == 'GREEN') {
            additionalClass = 'success';
        } else if(reportType.reportColor.toString() == 'YELLOW') {
            additionalClass = 'warning';
        } else if(reportType.reportColor.toString() == 'RED') {
            additionalClass = 'important';
        } else if(reportType.reportColor.toString() == 'BLUE') {
            additionalClass = 'notice';
        }

        }%


        <tr>
            <td>${reportType.name}</td>
            <td>&{reportType.rootReportType}</td>
            <td><span class="label ${additionalClass}">${reportType.name}</span></td>
            <td>
                <a href="@{show(reportType.id)}">&{'show'}</a>
                <a href="@{form(reportType.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

#{pagination count:count, pageSize:pageSize /}