#{extends 'main.html' /}
#{set title:messages.get('reportTypes') /}

<ul class="breadcrumb">
  <li class="active">&{'administration'} <span class="divider">/</span></li>
  <li><a href="@{index}">&{'reportTypes'}</a> <span class="divider">/</span></li>
  <li class="active">${reportType.name}</li>
</ul>

<h1>#{get 'title' /}</h1>

<dl>
    <dt>&{'reportType.name'}</dt>
    <dd>${reportType.name}</dd>
</dl>

<h2>&{'reportTransitions'}</h2>
<div class="well">
    <a href="@{ReportTransitions.create(reportType.id)}" class="btn primary">&{'create', messages.get('reportTransition')}</a>
</div>

<table class="zebra-striped">
    <thead>
        <tr>
            <th>&{'reportType.name'}</th>
            <th>&{'actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:reportType.reportTransitions, as:'reportTransition'}
        <tr>
            <td>${reportTransition.targetReportType.name}</td>
            <td>
                <a href="@{ReportTransitions.form(reportTransition.id)}">&{'edit'}</a>
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

