#{extends 'main.html' /}

#{form @save(), class:'form-horizontal'}
    #{field property:'debitorPaymentReceipt.id', object:debitorPaymentReceipt}
    <input type="hidden" value="${field.value}" name="${field.name}"/>
    #{/field}

    #{field property:'debitorPaymentReceipt.debitor.id', object:debitorPaymentReceipt}
    <input type="hidden" value="${field.value}" name="${field.name}"/>
    #{/field}

<fieldset>
    <legend>&{'debitorPaymentReceipt'}</legend>

    #{textField property:'debitorPaymentReceipt.amount.rawValue', object:debitorPaymentReceipt, help:defaultCurrency.getCurrencyCode() /}

    #{field property:'debitorPaymentReceipt.amount.currencyCode', object:debitorPaymentReceipt}
    <input type="hidden" value="${defaultCurrency.getCurrencyCode()}" name="${field.name}"/>
    #{/field}

    #{dateField property:'debitorPaymentReceipt.paid', object:debitorPaymentReceipt /}

    #{field property:'debitorPaymentReceipt.paymentAccount.id', object:debitorPaymentReceipt}
        <div class="control-group ${field.errorClass}">
            <label class="control-label" for="${field.id}">&{field.name}</label>
            <div class="controls">
                #{select field.name, items:paymentAccounts, valueProperty:'id', labelProperty:'description', value:field.value /}
                <span class="help-inline">#{if field.error}${field.error}#{/if}#{else}${_help}#{/else}</span>
            </div>
        </div>
    #{/field}
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn btn-primary" value="&{'submit'}">
    <a href="@{Debitors.show(debitorPaymentReceipt.debitor.id)}" class="btn">&{'cancel'}</a>
</div>
#{/form}