#{extends 'page.html' /}

#{set 'moreScripts'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{/set}

<div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">${play.configuration.get('application.name')}</a></h3>
            <ul class="nav">
                <li class="active"><a href="@{Dashboard.index}">Dashboard</a></li>
                <li><a href="@{Contacts.index}">Contacts</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <section id="content">
        #{if flash.success}
        <div class="alert-message success">
            <p>
                <strong>${flash.success}</strong>
            </p>
        </div>
        #{/if}

        #{if flash.get('info')}
        <div class="alert-message info">
            <p>
                <strong>${flash.get('info')}</strong>
            </p>
        </div>
        #{/if}

        #{if flash.get('warning')}
        <div class="alert-message warning">
            <p>
                <strong>${flash.get('warning')}</strong>
            </p>
        </div>
        #{/if}

        #{if flash.error}
        <div class="alert-message error">
            <p>
                <strong>${flash.error}</strong>
            </p>
        </div>
        #{/if}

        #{ifErrors}
        <div class="alert-message error">
            <p>
                <strong>&{'validation.pleaseCorrectTheseErrors'}</strong>
            </p>
        </div>
        #{/ifErrors}

        #{doLayout /}
    </section>

    <footer>
        <blockquote>
            <p>
                Those who believe in telekinetics, raise my hand.
            </p>
            <small>Kurt Vonnegut</small>
        </blockquote>
    </footer>

</div>
<!-- /container -->
