#{extends 'page.html' /}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="@{Dashboard.index}" class="brand">${play.configuration.get('application.name')}</a>
            <ul class="nav">
                <li><a href="@{Dashboard.index}">&{'dashboard'}</a></li>
                <li><a href="@{Contacts.index}">&{'contacts'}</a></li>
                <li><a href="@{Orders.index}">&{'orders'}</a></li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">&{'products'} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@{MetricProducts.index}">&{'metricProducts'}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">&{'accounting'} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@{Debitors.index}">&{'debitors'}</a></li>
                        <li><a href="@{Creditors.index}">&{'creditors'}</a></li>
                        <li><a href="@{Entries.index}">&{'entries'}</a></li>
                        <li class="divider"></li>
                        <li><a href="@{BalanceSheets.index}">&{'balanceSheet'}</a></li>
                        <li><a href="@{ProfitAndLossAccounts.index}">&{'profitAndLossAccount'}</a></li>
                        <li class="divider"></li>
                        <li><a href="@{AccountingPeriods.index}">&{'accountingPeriods'}</a></li>
                        <li><a href="@{EntryTemplates.index}">&{'entryTemplates'}</a></li>
                        <li><a href="@{Accounts.index}">&{'accounts'}</a></li>
                        <li><a href="@{AccountGroups.index}">&{'accountGroups'}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">&{'administration'} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@{ReportTypes.index}">&{'reportTypes'}</a></li>
                        <li><a href="@{Metrics.index}">&{'metrics'}</a></li>
                        <li><a href="@{ValueAddedTaxRates.index}">&{'valueAddedTaxRates'}</a></li>
                        <li><a href="@{Currencies.index}">&{'currencies'}</a></li>
                        <li><a href="@{Countries.index}">&{'countries'}</a></li>
                        <li class="divider"></li>
                        <li><a href="@{Search.index}">&{'indexing'}</a></li>
                        <li><a href="@{Search.administration}">&{'searchAdministration'}</a></li>
                        <li class="divider"></li>
                        <li><a href="@{ActivityLogEntries.index}">&{'activityLogEntries'}</a></li>
                        <li class="divider"></li>
                        <li><a href="@{Users.index}">&{'users'}</a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text pull-right">
                <a href="@{Secure.logout}">&{'logout', currentUser?.username}</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <section id="content">
        #{if flash.success}
        <div class="alert alert-success">
            <strong>${flash.success}</strong>
        </div>
        #{/if}

        #{if flash.get('info')}
        <div class="alert alert-info">
            <strong>${flash.get('info')}</strong>
        </div>
        #{/if}

        #{if flash.get('warning')}
        <div class="alert">
            <strong>${flash.get('warning')}</strong>
        </div>
        #{/if}

        #{if flash.error}
        <div class="alert alert-error">
            <strong>${flash.error}</strong>
        </div>
        #{/if}

        #{ifErrors}
        <div class="alert alert-error">
            <strong>&{'validation.pleaseCorrectTheseErrors'}</strong>
        </div>
        #{/ifErrors}

        #{doLayout /}
    </section>

    <hr />

    <footer>
        <p>#{version /}</p>
        <blockquote>
            <p>
                Those who believe in telekinetics, raise my hand.
            </p>
            <small>Kurt Vonnegut</small>
        </blockquote>
    </footer>

</div>