<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.16.custom.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/farbtastic.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
</head>
<body>

    #{doLayout /}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.ui.datepicker-de.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/farbtastic.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/ckeditor/ckeditor.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/scripts.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
</body>
</html>
