#{extends 'main.html' /}
#{set title:messages.get('account') /}

<ul class="breadcrumb">
  <li class="active">&{'accounting'} <span class="divider">/</span></li>
  <li><a href="@{index}">&{'accounts'}</a> <span class="divider">/</span></li>
  <li class="active">${account.label}</li>
</ul>

#{editHeader account.id /}

<dl>
    <dt>&{'account.number'}</dt>
    <dd>${account.number}</dd>

    <dt>&{'account.description'}</dt>
    <dd>${account.description}</dd>

    <dt>&{'account.accountGroup.id'}</dt>
    <dd>&{account.accountGroup.description}</dd>
</dl>

<div class="page-header">
    <h2>&{'entries'}</h2>
</div>

<ul class="nav nav-pills">
#{list items:accountingPeriods, as:'accountingPeriod' }
    <li#{if accountingPeriod.id == currentAccountingPeriod.id} class="active"#{/if}>
        <a href="@{index(accountingPeriod.id)}">${accountingPeriod.description}</a>
    </li>
#{/list}
</ul>

<dl>
    <dt>&{'account.balance'}</dt>
    <dd>${account.getBalance(currentAccountingPeriod)}</dd>
</dl>


<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'entry.date'}</th>
            <th>&{'entry.description'}</th>
            <th>&{'entry.voucher'}</th>
            <th>&{'entry.debit.id'}</th>
            <th>&{'entry.credit.id'}</th>
        </tr>
    </thead>
    <tbody>
        #{list items:account.getDebitEntries(currentAccountingPeriod), as:'entry'}
        <tr>
            <td>${entry.date?.format()}</td>
            <td>${entry.description}</td>
            <td>${entry.voucher}</td>
            <td>${entry.amount}</td>
            <td></td>
        </tr>
        #{/list}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>${account.getDebitSum(currentAccountingPeriod)}</strong></td>
            <td></td>
        </tr>
        #{list items:account.getCreditEntries(currentAccountingPeriod), as:'entry'}
        <tr>
            <td>${entry.date?.format()}</td>
            <td>${entry.description}</td>
            <td>${entry.voucher}</td>
            <td></td>
            <td>${entry.amount}</td>
        </tr>
        #{/list}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>${account.getCreditSum(currentAccountingPeriod)}</strong></td>
        </tr>
    </tbody>
</table>


