#{extends 'main.html' /}
#{set title:messages.get('account') /}

<ul class="breadcrumb">
  <li class="active">&{'accounting'} <span class="divider">/</span></li>
  <li><a href="@{index}">&{'accounts'}</a> <span class="divider">/</span></li>
  <li class="active">${account.label}</li>
</ul>

#{editHeader account.id /}

<dl>
    <dt>&{'account.number'}</dt>
    <dd>${account.number}</dd>

    <dt>&{'account.description'}</dt>
    <dd>${account.description}</dd>

    <dt>&{'account.accountGroup.id'}</dt>
    <dd>&{account.accountGroup.description}</dd>
</dl>

<div class="page-header">
    <h2>&{'entries'}</h2>
</div>

<ul class="nav nav-pills">
#{list items:accountingPeriods, as:'accountingPeriod' }
    <li#{if accountingPeriod.id == currentAccountingPeriod.id} class="active"#{/if}>
        <a href="@{index(accountingPeriod.id)}">${accountingPeriod.description}</a>
    </li>
#{/list}
</ul>

<dl>
    <dt>&{'account.balance'}</dt>
    <dd>#{coloredMoney account.getBalance(currentAccountingPeriod) /}</dd>
</dl>


<table class="table table-striped">
    <thead>
        <tr>
            <th>&{'entry.date'}</th>
            <th>&{'entry.description'}</th>
            <th>&{'entry.voucher'}</th>
            <th>&{'entry.debit.id'}</th>
            <th>&{'entry.credit.id'}</th>
            <th>&{'account.balance'}</th>
        </tr>
    </thead>
    <tbody>
        #{if account.getOpeningBalance(currentAccountingPeriod)}
        <tr>
            <td></td>
            <td>&{'openingBalance'}</td>
            <td></td>
            #{if account.accountGroup.accountType.isDebitAccount()}
            <td>${account.getOpeningBalance(currentAccountingPeriod).openingBalance}</td>
            <td></td>
            #{/if}
            #{else}
            <td></td>
            <td>${account.getOpeningBalance(currentAccountingPeriod).openingBalance}</td>
            #{/else}
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        #{/if}
        #{list items:account.getEntries(currentAccountingPeriod), as:'entry'}
        <tr>
            <td>${entry.date?.format()}</td>
            <td>${entry.description}</td>
            <td>${entry.voucher}</td>
            #{if entry.debit.id == account.id}
            <td>${entry.amount}</td>
            <td></td>
            #{/if}
            #{else}
            <td></td>
            <td>${entry.amount}</td>
            #{/else}
            <td>#{coloredMoney entry.getBalance(currentAccountingPeriod, account) /}</td>
        </tr>
        #{/list}
    </tbody>
</table>


